* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-image: url("https://i.redd.it/rc30vua0iaz51.png");
    background-size: cover;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

#answers {
    margin-top: 2cm;
}
h1 {color: rgba(255, 255, 255, 0.934);
    text-align: center;
    margin: 20px;
    padding: 15px;
}
#answers-list {
    margin-left: 20px;
}
h2 {color: #ffffff;
margin-top: 30px;
margin-left: 50px;
margin-right: 400px;
background-color: black;}


a  {color: black;
font-weight: bold;
}
p {color: white;
margin-left: 50px;
padding-top: 15px;
margin-right: 400px;
background-color: black;}



.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
}
.navbar { background-color: rgb(247, 237, 123);
padding-top: 20px;
padding-bottom: 20px;
}

#content 

.nav-link {color: rgba(0, 0, 0, 0.532);
    font-weight: bold;
}