{% extends "base.html" %}
{% block content %}

<h2> About this game</h2>
<p>It's a small RPG with a big map.</p>
<p>It's an informatic project and we built it in a group of four.</p>
    <p>There is a gras area a stone area a forest area and for the endgame there is a lava region with many enemies. </p>
    <p>We had a lot of fun to build this game.</p>
    <p>We planned it a little different but it would have taken too long to code.</p>
    <p>We are content with this version and we hope you like it.</p>
    <p>And a big thank you to shivam.</p>

{% endblock %}
